* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 100px auto;
  background-color: rgb(233, 167, 54);
}

section {
  margin-top: 100 px;
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1 {
  order: 2;
  flex-grow: 0;
}

#section-2 {
  order: 3;
  flex-grow: 3;
}

#section-3 {
  order: 4;
  flex-grow: 4;
}

#section-4 {
  order: 5;
  flex-basis: 200px;
}

#section-5 {
  order: 1;
  flex-grow: 0.3;
}
